# Blockchain
BLOCKCHAIN_RPC=http://localhost:7545
PRIVATE_KEY=0x4f3edf983ac636a65a842ce7c78d9aa706d3b113bce9c46f30d7d21715b23b1d

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=credit_admin
DB_PASSWORD=credit_pass_2024
DB_NAME=credit_certificates

# JWT
JWT_SECRET=change-this-secret-in-production
JWT_EXPIRES_IN=8h

# Server
PORT=3000
NODE_ENV=development
